<div>
    <h2 data-translate="agroBourse360SiApp.production.home.title">Productions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="production.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="agroBourse360SiApp.production.home.createLabel">
                        Create new Production
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'agroBourse360SiApp.production.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="agroBourse360SiApp.production.dateofproduction">Dateofproduction</span></th>
                    <th><span data-translate="agroBourse360SiApp.production.quantity">Quantity</span></th>
                    <th><span data-translate="agroBourse360SiApp.production.agriculteur">Agriculteur</span></th>
                    <th><span data-translate="agroBourse360SiApp.production.variete">Variete</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="production in vm.productions track by production.id">
                    <td><a ui-sref="production-detail({id:production.id})">{{production.id}}</a></td>
                        <td>{{production.dateofproduction | date:'mediumDate'}}</td>
                    <td>{{production.quantity}}</td>
                    <td>
                        <a ui-sref="agriculteur-detail({id:production.agriculteur.id})">{{production.agriculteur.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="variete-detail({id:production.variete.id})">{{production.variete.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="production-detail({id:production.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="production.edit({id:production.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="production.delete({id:production.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
