
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnnonceLabel" data-translate="agroBourseApp.annonce.home.createOrEditLabel">Create or edit a Annonce</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.annonce.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.annonce.annonce.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourseApp.annonce.sujet" for="field_sujet">Sujet</label>
            <input type="text" class="form-control" name="sujet" id="field_sujet"
                    ng-model="vm.annonce.annonce.sujet"
                    required ng-minlength="2"/>
            <div ng-show="editForm.sujet.$invalid">
                <p class="help-block"
                    ng-show="editForm.sujet.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sujet.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourseApp.annonce.annoncebody" for="field_annoncebody">Annoncebody</label>
            <input type="text" class="form-control" name="annoncebody" id="field_annoncebody"
                    ng-model="vm.annonce.annonce.annoncebody"
                    />
        </div>
        <div class="row">
               <div class="col-sm-3">
                   <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.annonce)">

                       <label class="control-label" for="field_file">Photo</label>
                       <div>
                           <div ng-if="vm.annonce.file" class="help-block clearfix">
                               <a class="pull-left" ng-click="vm.openFile(vm.annonce.type,vm.annonce.file)">Afficher</a><br>
                               <span class="pull-left">{{vm.byteSize(vm.annonce.file)}}</span>
                               <button type="button" ng-click="vm.annonce.file=null; vm.annonce.type=null;" class="btn btn-danger btn-xs pull-right">
                      <span class="glyphicon glyphicon-remove"></span>
                  </button>
                           </div>
                           <button type="button" ngf-select class="btn btn-primary btn-lg" ngf-change="vm.setFile($file, vm.annonce)">
                  Choisir une Image
              </button>
                       </div>
                       <input type="hidden" class="form-control" name="file" id="field_file" ng-model="vm.annonce.file" />
                       <input type="hidden" class="form-control" name="type" id="field_type" ng-model="vm.annonce.type" />
                       <input type="hidden" class="form-control" name="name" id="name" ng-model="vm.annonce.nom" />
                   </div>
               </div>
           </div>





        <div class="form-group">
            <label class="control-label" data-translate="agroBourseApp.annonce.datedebut" for="field_datedebut">Datedebut</label>
                <div class="input-group">
                    <input id="field_datedebut" type="text" class="form-control" name="datedebut" uib-datepicker-popup="{{dateformat}}" ng-model="vm.annonce.annonce.datedebut" is-open="vm.datePickerOpenStatus.datedebut"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datedebut')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourseApp.annonce.datefin" for="field_datefin">Datefin</label>
                <div class="input-group">
                    <input id="field_datefin" type="text" class="form-control" name="datefin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.annonce.annonce.datefin" is-open="vm.datePickerOpenStatus.datefin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datefin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="agroBourseApp.annonce.profil" for="field_profil">Profil</label>
            <select class="form-control" id="field_profil" name="profil" ng-model="vm.annonce.annonce.profil" ng-options="profil as profil.id for profil in vm.profils track by profil.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
