<div>
    <h2 data-translate="agroBourse360SiApp.annonce.home.title">Annonces</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="annonce.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="agroBourse360SiApp.annonce.home.createLabel">
                        Create new Annonce
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'agroBourse360SiApp.annonce.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.numann">Numann</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.etat">Etat</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.createddate">Createddate</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.lastmodifieddate">Lastmodifieddate</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.dateActivation">Date Activation</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.dateExpiration">Date Expiration</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.prix">Prix</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.quantite">Quantite</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.image">Image</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.description">Description</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.variete">Variete</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.lastModifiedBy">Last Modified By</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.localite">Localite</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.annonceur">Annonceur</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.palier">Palier</span></th>
                    <th><span data-translate="agroBourse360SiApp.annonce.likedBy">Liked By</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="annonce in vm.annonces track by annonce.id">
                    <td><a ui-sref="annonce-detail({id:annonce.id})">{{annonce.id}}</a></td>
                    <td>{{annonce.numann}}</td>
                    <td>{{annonce.etat}}</td>
                    <td>{{annonce.createddate | date:'medium'}}</td>
                    <td>{{annonce.lastmodifieddate | date:'medium'}}</td>
                        <td>{{annonce.dateActivation | date:'mediumDate'}}</td>
                        <td>{{annonce.dateExpiration | date:'mediumDate'}}</td>
                    <td>{{annonce.prix}}</td>
                    <td>{{annonce.quantite}}</td>
                    <td>{{annonce.image}}</td>
                    <td>{{annonce.description}}</td>
                    <td>
                        <a ui-sref="variete-detail({id:annonce.variete.id})">{{annonce.variete.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="profil-detail({id:annonce.lastModifiedBy.id})">{{annonce.lastModifiedBy.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="localite-detail({id:annonce.localite.id})">{{annonce.localite.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="profil-detail({id:annonce.annonceur.id})">{{annonce.annonceur.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="palier-detail({id:annonce.palier.id})">{{annonce.palier.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="likedBy in annonce.likedBies">
                            <a class="form-control-static" ui-sref="profil-detail({id: likedBy.id})">{{likedBy.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="annonce-detail({id:annonce.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="annonce.edit({id:annonce.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="annonce.delete({id:annonce.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
