<div>
    <h2 data-translate="agroBourse360SiApp.employer.home.title">Employers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="employer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="agroBourse360SiApp.employer.home.createLabel">
                        Create new Employer
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'agroBourse360SiApp.employer.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="agroBourse360SiApp.employer.companyName">Company Name</span></th>
                    <th><span data-translate="agroBourse360SiApp.employer.type">Type</span></th>
                    <th><span data-translate="agroBourse360SiApp.employer.companyDescription">Company Description</span></th>
                    <th><span data-translate="agroBourse360SiApp.employer.adresseSiege">Adresse Siege</span></th>
                    <th><span data-translate="agroBourse360SiApp.employer.telephone">Telephone</span></th>
                    <th><span data-translate="agroBourse360SiApp.employer.nbreEmployeePermanant">Nbre Employee Permanant</span></th>
                    <th><span data-translate="agroBourse360SiApp.employer.profil">Profil</span></th>
                    <th><span data-translate="agroBourse360SiApp.employer.localite">Localite</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employer in vm.employers track by employer.id">
                    <td><a ui-sref="employer-detail({id:employer.id})">{{employer.id}}</a></td>
                    <td>{{employer.companyName}}</td>
                    <td>{{employer.type}}</td>
                    <td>{{employer.companyDescription}}</td>
                    <td>{{employer.adresseSiege}}</td>
                    <td>{{employer.telephone}}</td>
                    <td>{{employer.nbreEmployeePermanant}}</td>
                    <td>
                        <a ui-sref="profil-detail({id:employer.profil.id})">{{employer.profil.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="localite-detail({id:employer.localite.id})">{{employer.localite.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="employer-detail({id:employer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="employer.edit({id:employer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="employer.delete({id:employer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
