
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTradeLabel" data-translate="agroBourse360SiApp.trade.home.createOrEditLabel">Create or edit a Trade</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.trade.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.trade.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.trade.dateOfOrder" for="field_dateOfOrder">Date Of Order</label>
                <div class="input-group">
                    <input id="field_dateOfOrder" type="text" class="form-control" name="dateOfOrder" uib-datepicker-popup="{{dateformat}}" ng-model="vm.trade.dateOfOrder" is-open="vm.datePickerOpenStatus.dateOfOrder"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfOrder')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.trade.dateOfDelivery" for="field_dateOfDelivery">Date Of Delivery</label>
                <div class="input-group">
                    <input id="field_dateOfDelivery" type="text" class="form-control" name="dateOfDelivery" uib-datepicker-popup="{{dateformat}}" ng-model="vm.trade.dateOfDelivery" is-open="vm.datePickerOpenStatus.dateOfDelivery"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfDelivery')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.trade.prixUnitaire" for="field_prixUnitaire">Prix Unitaire</label>
            <input type="number" class="form-control" name="prixUnitaire" id="field_prixUnitaire"
                    ng-model="vm.trade.prixUnitaire"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.trade.position" for="field_position">Position</label>
            <input type="text" class="form-control" name="position" id="field_position"
                    ng-model="vm.trade.position"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.trade.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.trade.quantity"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.trade.montant" for="field_montant">Montant</label>
            <input type="number" class="form-control" name="montant" id="field_montant"
                    ng-model="vm.trade.montant"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.trade.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="vm.trade.status"
                    />
        </div>

        <div class="form-group">
            <label data-translate="agroBourse360SiApp.trade.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="vm.trade.currency" ng-options="currency as currency.id for currency in vm.currencies track by currency.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="agroBourse360SiApp.trade.variete" for="field_variete">Variete</label>
            <select class="form-control" id="field_variete" name="variete" ng-model="vm.trade.variete" ng-options="variete as variete.id for variete in vm.varietes track by variete.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="agroBourse360SiApp.trade.traderAGB" for="field_traderAGB">Trader AGB</label>
            <select class="form-control" id="field_traderAGB" name="traderAGB" ng-model="vm.trade.traderAGB" ng-options="traderAGB as traderAGB.id for traderAGB in vm.traderagbs track by traderAGB.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="agroBourse360SiApp.trade.traderCA" for="field_traderCA">Trader CA</label>
            <select class="form-control" id="field_traderCA" name="traderCA" ng-model="vm.trade.traderCA" ng-options="traderCA as traderCA.id for traderCA in vm.tradercas track by traderCA.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
