
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myECommandeHistoriqueLabel" data-translate="agroBourse360SiApp.eCommandeHistorique.home.createOrEditLabel">Create or edit a E Commande Historique</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.eCommandeHistorique.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.eCommandeHistorique.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.eCommandeHistorique.etat" for="field_etat">Etat</label>
            <input type="number" class="form-control" name="etat" id="field_etat"
                    ng-model="vm.eCommandeHistorique.etat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.eCommandeHistorique.prix" for="field_prix">Prix</label>
            <input type="number" class="form-control" name="prix" id="field_prix"
                    ng-model="vm.eCommandeHistorique.prix"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.eCommandeHistorique.quantite" for="field_quantite">Quantite</label>
            <input type="number" class="form-control" name="quantite" id="field_quantite"
                    ng-model="vm.eCommandeHistorique.quantite"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.eCommandeHistorique.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.eCommandeHistorique.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="agroBourse360SiApp.eCommandeHistorique.numcommande" for="field_numcommande">Numcommande</label>
            <input type="number" class="form-control" name="numcommande" id="field_numcommande"
                    ng-model="vm.eCommandeHistorique.numcommande"
                    />
        </div>

        <div class="form-group">
            <label data-translate="agroBourse360SiApp.eCommandeHistorique.annonceHistorique" for="field_annonceHistorique">Annonce Historique</label>
            <select class="form-control" id="field_annonceHistorique" name="annonceHistorique" ng-model="vm.eCommandeHistorique.annonceHistorique" ng-options="annonceHistorique as annonceHistorique.id for annonceHistorique in vm.annoncehistoriques track by annonceHistorique.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="agroBourse360SiApp.eCommandeHistorique.userCommandHistorique" for="field_userCommandHistorique">User Command Historique</label>
            <select class="form-control" id="field_userCommandHistorique" name="userCommandHistorique" ng-model="vm.eCommandeHistorique.userCommandHistorique" ng-options="profil as profil.id for profil in vm.profils track by profil.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="agroBourse360SiApp.eCommandeHistorique.transactionHistorique" for="field_transactionHistorique">Transaction Historique</label>
            <select class="form-control" id="field_transactionHistorique" name="transactionHistorique" ng-model="vm.eCommandeHistorique.transactionHistorique" ng-options="transactionHistorique as transactionHistorique.id for transactionHistorique in vm.transactionhistoriques track by transactionHistorique.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
