<div>
    <h2 data-translate="agroBourse360SiApp.eCommandeHistorique.home.title">E Commande Historiques</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="e-commande-historique.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="agroBourse360SiApp.eCommandeHistorique.home.createLabel">
                        Create new E Commande Historique
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'agroBourse360SiApp.eCommandeHistorique.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="agroBourse360SiApp.eCommandeHistorique.etat">Etat</span></th>
                    <th><span data-translate="agroBourse360SiApp.eCommandeHistorique.prix">Prix</span></th>
                    <th><span data-translate="agroBourse360SiApp.eCommandeHistorique.quantite">Quantite</span></th>
                    <th><span data-translate="agroBourse360SiApp.eCommandeHistorique.date">Date</span></th>
                    <th><span data-translate="agroBourse360SiApp.eCommandeHistorique.numcommande">Numcommande</span></th>
                    <th><span data-translate="agroBourse360SiApp.eCommandeHistorique.annonceHistorique">Annonce Historique</span></th>
                    <th><span data-translate="agroBourse360SiApp.eCommandeHistorique.userCommandHistorique">User Command Historique</span></th>
                    <th><span data-translate="agroBourse360SiApp.eCommandeHistorique.transactionHistorique">Transaction Historique</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eCommandeHistorique in vm.eCommandeHistoriques track by eCommandeHistorique.id">
                    <td><a ui-sref="e-commande-historique-detail({id:eCommandeHistorique.id})">{{eCommandeHistorique.id}}</a></td>
                    <td>{{eCommandeHistorique.etat}}</td>
                    <td>{{eCommandeHistorique.prix}}</td>
                    <td>{{eCommandeHistorique.quantite}}</td>
                    <td>{{eCommandeHistorique.date | date:'medium'}}</td>
                    <td>{{eCommandeHistorique.numcommande}}</td>
                    <td>
                        <a ui-sref="annonce-historique-detail({id:eCommandeHistorique.annonceHistorique.id})">{{eCommandeHistorique.annonceHistorique.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="profil-detail({id:eCommandeHistorique.userCommandHistorique.id})">{{eCommandeHistorique.userCommandHistorique.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="transaction-historique-detail({id:eCommandeHistorique.transactionHistorique.id})">{{eCommandeHistorique.transactionHistorique.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="e-commande-historique-detail({id:eCommandeHistorique.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="e-commande-historique.edit({id:eCommandeHistorique.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="e-commande-historique.delete({id:eCommandeHistorique.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
