<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/AgroBourse360.png" alt="logo" />
                <span data-translate="global.title">AgroBourse360SI</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                        <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="profil" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.profil">Profil</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="agriculteur" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.agriculteur">Agriculteur</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="activite-agricole" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.activiteAgricole">Activite Agricole</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="specialite-agricole" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.specialiteAgricole">Specialite Agricole</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="employee" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.employee">Employee</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="employer" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.employer">Employer</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="localite" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.localite">Localite</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="delegation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.delegation">Delegation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="region" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.region">Region</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="gouvernorat" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.gouvernorat">Gouvernorat</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="pays" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pays">Pays</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="annonce" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.annonce">Annonce</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="variete" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.variete">Variete</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="produit" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.produit">Produit</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="souscategorie" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.souscategorie">Souscategorie</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="categorie" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.categorie">Categorie</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="annonce-changement" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.annonceChangement">Annonce Changement</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="annonce-historique" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.annonceHistorique">Annonce Historique</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="commande" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.commande">Commande</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="commande-details" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.commandeDetails">Commande Details</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="emp-cv" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.empCv">Emp Cv</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="emp-annonce" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.empAnnonce">Emp Annonce</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="emp-actualite" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.empActualite">Emp Actualite</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="gpo" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.gpo">Gpo</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="palier" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.palier">Palier</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="currency" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.currency">Currency</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="e-commande" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.eCommande">E Commande</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="e-commande-historique" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.eCommandeHistorique">E Commande Historique</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="transaction" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.transaction">Transaction</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="transaction-historique" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.transactionHistorique">Transaction Historique</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="production" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.production">Production</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="view" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.view">View</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="cv-specialities" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.cvSpecialities">Cv Specialities</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="formation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.formation">Formation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="trader-agb" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.traderAgb">Trader Agb</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="trader-ca" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.traderCa">Trader Ca</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="desk" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.desk">Desk</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="portefolio" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.portefolio">Portefolio</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="trade" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.trade">Trade</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                        <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-tracker" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                <span data-translate="global.menu.admin.tracker">User tracker</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                        <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                        <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>