<div>
    <h2 data-translate="agroBourse360SiApp.portefolio.home.title">Portefolios</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="portefolio.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="agroBourse360SiApp.portefolio.home.createLabel">
                        Create new Portefolio
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'agroBourse360SiApp.portefolio.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="agroBourse360SiApp.portefolio.nbrerealisation">Nbrerealisation</span></th>
                    <th><span data-translate="agroBourse360SiApp.portefolio.nbreencours">Nbreencours</span></th>
                    <th><span data-translate="agroBourse360SiApp.portefolio.specialite">Specialite</span></th>
                    <th><span data-translate="agroBourse360SiApp.portefolio.traderAGB">Trader AGB</span></th>
                    <th><span data-translate="agroBourse360SiApp.portefolio.variete">Variete</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="portefolio in vm.portefolios track by portefolio.id">
                    <td><a ui-sref="portefolio-detail({id:portefolio.id})">{{portefolio.id}}</a></td>
                    <td>{{portefolio.nbrerealisation}}</td>
                    <td>{{portefolio.nbreencours}}</td>
                    <td>{{portefolio.specialite}}</td>
                    <td>
                        <a ui-sref="trader-agb-detail({id:portefolio.traderAGB.id})">{{portefolio.traderAGB.id}}</a>
                    </td>
                    <td>
                        <span ng-repeat="variete in portefolio.varietes">
                            <a class="form-control-static" ui-sref="variete-detail({id: variete.id})">{{variete.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="portefolio-detail({id:portefolio.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="portefolio.edit({id:portefolio.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="portefolio.delete({id:portefolio.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
